{% extends 'core/base.html' %}
 {% load static %}

 {% load humanize %}

 {% block extra_styles %}

 <style type="text/css">


 </style>

 {% endblock extra_styles %}


 {% block content %}

 <main>
    <div class="hero medium-height jarallax" data-jarallax data-speed="0.2">
        <img class="jarallax-img" src="{% static 'img/fullpoolview/2.png' %}" alt="">
        <div class="wrapper opacity-mask d-flex align-items-center justify-content-center text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <div class="container">
                <small class="slide-animated one">Belleza Beach Resort</small>
                <h1 class="slide-animated two">Our Rooms</h1>
            </div>
        </div>
    </div>
    <!-- /Background Img Parallax -->

    <div class="container margin_120_0">
        {% if all_rooms %}
        {% for room in all_rooms %}




        {% if room.template_view == 'inverted' %}
        <div class="row_list_version_2 inverted">
            <div class="row g-0 align-items-center">
                <div class="col-xl-8 order-xl-2">

                    <div class="owl-carousel owl-theme carousel_item_1 kenburns rounded-img">

                        <div class="item">
                            <a data-fslightbox="gallery_2" data-type="image" href="{{room.banner.url}}"><img src="{{room.banner.url}}" alt=""></a>
                        </div>

                    </div>


                </div>
                <div class="col-xl-4 order-xl-1">
                    <div class="box_item_info" data-jarallax-element="-25">
                        <small>₦{{room.price|intcomma}}</small>
                        <h2>{{room.title}}</h2>
                        <p>{{room.long_desc}}</p>
                        <div class="facilities clearfix">
                            {% if room.features %}
                            <ul>
                                {% for item in room.features.all %}
                                <li>
                                    <i class="{{item.icon}}"></i> {{item.title}}
                                </li>
                                {% endfor %}

                            </ul>
                            {% endif %}

                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-lg-6">
                                <p class="wide"><a href="#roomavailabilty" class="btn_1">Check Availabilty</a></p>
                            </div>
                            <div class="col-lg-6">
                                <p class="wide"><a href="{% url 'booking:room-details' room.id %}" class="btn_1">More Details</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% elif room.template_view == 'normal' %}
        <div class="row_list_version_2">
            <div class="row g-0 align-items-center">
                <div class="col-xl-8">

                    <div class="owl-carousel owl-theme carousel_item_1 kenburns rounded-img">

                        <div class="item">
                            <a data-fslightbox="gallery_1" data-type="image" href="{{room.banner.url}}"><img src="{{room.banner.url}}" alt=""></a>
                        </div>


                    </div>

                </div>
                <div class="col-xl-4">
                    <div class="box_item_info" data-jarallax-element="-25">
                        <small>₦{{room.price|intcomma}}</small>
                        <h2>{{room.title}}</h2>
                        <p>{{room.long_desc}}</p>
                        <div class="facilities clearfix">
                            {% if room.features %}
                            <ul>
                                {% for item in room.features.all %}
                                <li>
                                    <i class="{{item.icon}}"></i> {{item.title}}
                                </li>
                                {% endfor %}

                            </ul>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="wide"><a href="#roomavailabilty" class="btn_1">Check Availabilty</a></p>
                            </div>
                            <div class="col-lg-6">
                                <p class="wide"><a href="{% url 'booking:room-details' room.id %}" class="btn_1">More Details</a></p>
                            </div>
                        </div>



                    </div>
                    <!-- /box_item_info -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /row_list -->

        {% endif %}
        {% endfor %}

        {% endif %}



    </div>
    <!-- /container -->


    <!-- /container -->
    <div class="container margin_120_95">
        <div class="title text-center mb-5">
            <small data-cue="slideInUp">Belleza Beach Resort</small>
            <h2 data-cue="slideInUp" data-delay="100">Main Facilities</h2>
        </div>
        <div class="row mt-4">
            <div class="col-lg-3 col-md-6">
                <div class="box_facilities no-border" data-cue="slideInUp">
                    <i class="icon-hotel-patio"></i>
                    <h3>Game House</h3>
                    <p>A game house with a variety of games for both adults and children.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box_facilities" data-cue="slideInUp">
                    <i class="customicon-wifi"></i>
                    <h3>High Speed Wifi</h3>
                    <p>High speed Free Wi-Fi at the resort.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box_facilities" data-cue="slideInUp">
                    <i class="customicon-cocktail"></i>
                    <h3>Bar & Restaurant</h3>
                    <p>We have a restaurant to cater to your meals throughout your stay. We also have 3 Bars.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box_facilities" data-cue="slideInUp">
                    <i class="customicon-swimming-pool"></i>
                    <h3>Swimming Pool</h3>
                    <p>We have a 28-metre swimming pool at the resort.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->




    <section id="roomavailabilty">
        <div class="container margin_120_95" id="booking_section">
            <div class="row justify-content-between">
                <div class="col-xl-4">
                    <div data-cue="slideInUp">
                        <div class="title">
                            <small>Belleza Resort</small>
                            <h2>Check Availability</h2>
                        </div>
                        <p>Kindly check the availabilty of your room of choice before making a booking.  </p>
                        <p class="phone_element no_borders"><a href="tel://09169999011"><i class="bi bi-telephone"></i><span><em>Info and bookings</em>09169999011</span></a></p>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div data-cue="slideInUp" data-delay="200">
                        <div class="booking_wrapper">
                            <div class="col-12">
                                <input type="hidden" id="date_booking" name="date_booking">
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="custom_select">
                                        {% if all_rooms %}
                                        <select name="selected_room_id" id="selected_room_id" class="wide">
                                            <option value="" selected disabled> Select Room </option>
                                            {% for room in all_rooms %}
                                            <option data-count="{{room.availability}}" value="{{room.id}}">{{room.title}}</option>
                                            {% endfor %}
                                        </select>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-lg-4" id="selected_days_row">

                                    <input class="form-control wide" type="number" id="selected_days_id"   onchange="javascript: if (parseInt(this.value) > this.max) this.value = this.max;"  placeholder="Number of Rooms" name="selected_days_id" min="1" max="1" required>

                                </div>
                                <div class="col-lg-4">
                                    <button style="display: none;" type="button" id="room_is_available"  data-bs-toggle="modal" data-bs-target="#room_is_available_modal"></button>
                                    <button style="display: none;" type="button" id="room_not_available"  data-bs-toggle="modal" data-bs-target="#room_not_available_modal"></button>
                                    <button style="display: none;" type="button" id="added_to_cart_btn"  data-bs-toggle="modal" data-bs-target="#added_to_cart"></button>
                                    <p class="wide"><a href="#0" id="checkAvailabilty" class="btn_1">Check Availabilty</a></p>
                                </div>
                                <div class="booking_error"></div>
                            </div>
                        </div>
                        <!-- / row -->
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>





</main>

 {% endblock content %}


{% block modals %}



<div class="modal fade" id="room_is_available_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"> Selected room is Available </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>   <span id="selectedRoom"></span>   Room is available from <strong><span id="startDate"></span></strong> to  <strong><span id="endDate"></span></strong>. Proceed to booking </p>
          <!-- <p id="selectedRoom_msg">  </p> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="#" id="bookNowBtn" class="btn btn-primary">Book Now</a>

        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="room_not_available_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Selected room is not Available </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p>   <span id="selectedRoom_ntav"></span> Room has been fully booked from <strong><span id="startDate_ntav"></span></strong> to  <strong><span id="endDate_ntav"></span></strong>.Kindly book another room </p>
          <p id="selectedRoom_msg">  </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>



<div class="modal fade" id="added_to_cart" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Booking added to your cart</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p> Click the button below to go and checkout </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'booking:cart' %}" class="btn btn-primary">Proceed</a>
        </div>
      </div>
    </div>
  </div>

{% endblock modals %}


{% block extra_scripts %}



<script>

$(document).ready(function(){


    let roomOption = $("#selected_room_id")

    // let selected_days_div = $("#selected_days_div")
    let selected_days_div = $("#selected_days_id")

    roomOption.on("change", function() {
        let availability = $("#selected_room_id option:selected").data('count')

        selected_days_div.val('1')
        selected_days_div.attr( "max",`${availability}`)

        $("#selected_days_id").load(" #selected_days_id > *");
    })



});

</script>



<script>

$(function () {
  "use strict";

  $(function () {
    /* Booked Dates */
    const DateTime = easepick.DateTime;
    const bookedDates = [
      ["2024-02-21", "2024-02-28"],
      "2023-09-07",
      ["2023-10-11", "2023-10-17"],
    ].map((d) => {
      if (d instanceof Array) {
        const start = new DateTime(d[0], "YYYY-MM-DD");
        const end = new DateTime(d[1], "YYYY-MM-DD");

        return [start, end];
      }

      return new DateTime(d, "YYYY-MM-DD");
    });

    /* Configuration picker */
    const picker = new easepick.create({
      element: document.getElementById("date_booking"),
      css: ["/static/css/daterangepicker_v2.css"],
      lang: "en-EN", // Language tags https://www.techonthenet.com/js/language_tags.php
      format: "DD/MM/YYYY",
      calendars: 2,
      grid: 2,
      zIndex: 10,
      inline: true,
      plugins: ["LockPlugin", "RangePlugin"],
      RangePlugin: {
        tooltipNumber(num) {
          return num - 1;
        },
        locale: {
          one: "night",
          other: "nights",
        },
      },
      LockPlugin: {
        minDate: new Date(),
        minDays: 2,
        inseparable: false,
        filter(date, picked) {
          if (picked.length === 1) {
            const incl = date.isBefore(picked[0]) ? "[)" : "(]";
            return (
              !picked[0].isSame(date, "day") && date.inArray(bookedDates, incl)
            );
          }
          return date.inArray(bookedDates, "[)");
        },
      },
    });
  }); // End Easypick config
});


</script>




<script>

$(document).ready(function(){






    // set global variables
    var globBookedDates
    var globSelectedRoom
    var globSelectedNumberOfRooms


    let checkAvailabiltyBtn = $("#checkAvailabilty");

    checkAvailabiltyBtn.on("click", () =>{

        let bookedDates = $("#date_booking")
        let selectedRoom = $("#selected_room_id")
        let selectedNumberOfRooms = $("#selected_days_id")
        console.log('availability data', bookedDates.val(), selectedRoom.val(), selectedNumberOfRooms.val())


        if (!bookedDates.val()) {
            alert('Please select check-in and check-out date'); return;
        }
        if (!selectedNumberOfRooms.val()) {
            alert('Please select number of rooms'); return;
        }
        if (!selectedRoom.val()) {
            alert('Please select a room to continue'); return;
        }
        checkAvailabilty(selectedRoom.val(), "room",  bookedDates.val(), Number(selectedNumberOfRooms.val()))
    })




// check availablilty
function checkAvailabilty(productId,productType, bookedDates, quantity ){

    var url = "/booking/check_availabilty/"

    return fetch(url, {
                method: 'POST',
                headers:{
                    'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
                },

        body:JSON.stringify({'productId':productId, 'productType':productType, 'bookedDates': bookedDates,"quantity":quantity}),
    })
    .then((response) => response.json())
    .then((data) => {

        console.log(data)

        if (data.is_available === true){
            $("#selectedRoom").text(`${data.room_name}`)
            $("#startDate").text(`${data.check_in}`)
            $("#endDate").text(`${data.check_out}`)

            // set global
            globBookedDates = bookedDates
            globSelectedNumberOfRooms = quantity
            globSelectedRoom = productId
            $("#room_is_available").click();
        } else {
            $("#selectedRoom_ntav").text(`${data.room_name}`)
            $("#startDate_ntav").text(`${data.check_in}`)
            $("#endDate_ntav").text(`${data.check_out}`)

            $("#room_not_available").click();
        }
    })

}


let bookNowBtn = $("#bookNowBtn");
bookNowBtn.on("click", () =>{
    addCookieItem(globSelectedRoom, globBookedDates, globSelectedNumberOfRooms, "room");
})




// check availablilty lean

function checkAvailabiltyLean(productId,productType, bookedDates, quantity ){

var url = "/booking/check_availabilty/"

return fetch(url, {
            method: 'POST',
            headers:{
                'Content-Type':'applicaiton/json',
                'X-CSRFToken':csrftoken,
            },

    body:JSON.stringify({'productId':productId, 'productType':productType, 'bookedDates': bookedDates,"quantity":quantity}),
})
.then((response) => response.json())
.then((data) => {
    return data
})

}





// Add to cart
function addCookieItem(productId, bookedDates, quantity, productType) {

    if (!productId || !bookedDates || !quantity) return alert("Booking details missiing!")
    console.log("booking details are", productId, bookedDates, quantity);

    checkAvailabiltyLean(productId, productType, bookedDates, quantity).then((data) => {
            if (data.is_available === false) return;
        })
    cart[productId] = { quantity: quantity, dateBooked: bookedDates, productType:productType};



  console.log("Cart", cart);
  document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
  $("#cartTotal").load(" #cartTotal");
  currUrl = window.location.href;
  if (currUrl.indexOf("/booking/cart/") > -1) {
    location.reload();
  } else {
    $("#added_to_cart_btn").click();
  }

  $("#booking_ul").load(" #booking_ul > *");


}
})
</script>

{% endblock extra_scripts %}