{% extends 'core/base.html' %}

{% load static %}

{% load humanize %}

{% block extra_head %}


<style type="text/css">


.card-footer-btn {
    display: flex;
    align-items: center;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}
.text-uppercase-bold-sm {
    text-transform: uppercase!important;
    font-weight: 500!important;
    letter-spacing: 2px!important;
    font-size: .85rem!important;
}
.hover-lift-light {
    transition: box-shadow .25s ease,transform .25s ease,color .25s ease,background-color .15s ease-in;
}
.justify-content-center {
    justify-content: center!important;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 0.8rem 1.85rem;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}
.btn-dark {
    color: #fff;
    background-color: #1e2e50;
    border-color: #1e2e50;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(30,46,80,.09);
    border-radius: 0.25rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.p-5 {
    padding: 3rem!important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.table td, .table th {
    border-bottom: 0;
    border-top: 1px solid #edf2f9;
}
.table>:not(caption)>*>* {
    padding: 1rem 1rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.px-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}
.table thead th, tbody td, tbody th {
    vertical-align: middle;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.mt-5 {
    margin-top: 3rem!important;
}

.icon-circle[class*=text-] [fill]:not([fill=none]), .icon-circle[class*=text-] svg:not([fill=none]), .svg-icon[class*=text-] [fill]:not([fill=none]), .svg-icon[class*=text-] svg:not([fill=none]) {
    fill: currentColor!important;
}
.svg-icon>svg {
    width: 1.45rem;
    height: 1.45rem;
}
</style>




<link href="{% static 'css/cart.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock extra_head %}


{% block content %}
<main>
  <div class="hero small-height jarallax" data-jarallax data-speed="0.2">
    <img class="jarallax-img" src="{% static 'img/p4.png' %}" alt="">
    <div class="wrapper opacity-mask d-flex align-items-center justify-content-center text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
        <div class="container">
            <small class="slide-animated one">Belleza Beach Resort</small>
            <h1 class="slide-animated two">Checkout</h1>
        </div>
    </div>
</div>

<section class="h-100 gradient-custom">
  <form action="" id="checkout_form">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Booking details</h5>
          </div>
          <div class="card-body">

            <div class="hideable_client_type_enum">

              <label for="selected_client_type">Are you booking on behalf of a company?</label> <br>
              <div class="custom_select" id="selected_days_div">
                <select name="selected_client_type" id="selected_client_type" class="wide" >
                    <option value="" selected disabled> Corporate or personal booking?  </option>
                    <option value="personal" > Personal </option>
                    <option value="corporate" > Corporate </option>
                </select>

            </div>
            </div>

            <hr>


              <div class="hideable_personal_booking_form">
                <div class="row">
                  <div class="col-sm-6">
                      <div class="form-floating mb-4">
                          <input class="form-control" type="text" id="first_name" name="first_name" placeholder="First Name" >
                          <label for="first_name">Name</label>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-floating mb-4">
                          <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last Name" >
                          <label for="last_name">Last name</label>
                      </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-4">
                        <input class="form-control" type="email" id="email_contact" name="email_contact" placeholder="Email">
                        <label for="email_contact">Email</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" id="phone_contact" name="phone_contact" placeholder="Telephone">
                        <label for="phone_contact">Telephone</label>
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                  <div class="form-floating mb-4">
                      <input class="form-control" type="text" id="personal_address" name="personal_address" placeholder="Personal Address">
                      <label for="address_1">Personal Address</label>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-floating mb-4">
                      <input class="form-control" type="text" id="other_number" name="other_number" placeholder="Other Number">
                      <label for="other_number">Other Number</label>
                  </div>
              </div>
          </div>
              </div>



              <div class="hideable_coporate_booking_form">

                <div class="row">
                  <div class="col-sm-6">
                      <div class="form-floating mb-4">
                          <input class="form-control" type="text" id="company_name" name="company_name" placeholder="Company Name">
                          <label for="company_name">Company Name</label>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-floating mb-4">
                          <input class="form-control" type="text" id="company_email" name="company_email" placeholder="Company Email">
                          <label for="company_email">Company Email</label>
                      </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-floating mb-4">
                      <input class="form-control" type="text" id="company_phone_number" name="company_phone_number" placeholder="Corporate Phone Number">
                      <label for="company_phone_number">Phone Number</label>
                  </div>
              </div>

                <div class="col-sm-6">
                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" id="company_other_phone" name="company_other_phone" placeholder="Other Phone">
                        <label for="company_other_phone">Other Phone Number</label>
                    </div>
                </div>

            </div>


            <div class="row">
              <div class="col-sm-6">
                  <div class="form-floating mb-4">
                      <input class="form-control" type="text" id="company_address" name="company_address" placeholder="Address">
                      <label for="company_address">Address</label>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-floating mb-4">
                      <input class="form-control" type="text" id="company_nature" name="company_nature" placeholder="Nature of Business">
                      <label for="company_nature">Nature of Business</label>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mb-4">
                    <input class="form-control" type="number" id="number_of_guests" name="number_of_guests" placeholder="Number of Guests">
                    <label for="number_of_guests">Number of Guests </label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-4">
                    <input class="form-control" type="text" id="company_representative" name="company_representative" placeholder="Company Representative" >
                    <label for="company_representative"> Company Representative </label>
                </div>
            </div>
        </div>
              </div>





            </form>







          </div>


      </div>
      </div>


      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Your Booking </h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Bookings
                <span>₦{{order.get_total|intcomma}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Extra Guests charge
                <span>₦0.00</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span><strong>₦</strong></span>
              </li>
            </ul>

            <button style="display: none;" type="button" id="confirm_order_btn"  data-bs-toggle="modal" data-bs-target="#confirm_order_modal"></button>

            <button type="submit" class="btn_1">
              Proceed to Payment
            </button>
          </div>
        </div>
      </div>
      </div>
  </div>
</form>
</section>
</main>
{% endblock content %}

{% block modals %}


<div class="modal fade" id="confirm_order_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Booking Order </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body  justify-content-center">
       <!-- Card Body  -->
            <div class="">
              <div class="">
                <h2>
                  Hey <span id="od_name"></span>,
                </h2>
                <p class="fs-sm">
                  This is the invoice for a payment of <strong >₦<span id="od_orderTotal"></span></strong> (NGN) for your booking.
                </p>

                <div class="border-top border-gray-200 pt-4 mt-4">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="text-muted mb-2">Order Ref.</div>
                      <strong id="od_orderId"></strong>
                    </div>
                    <div class="col-md-6 text-md-end">
                      <div class="text-muted mb-2">Payment Date</div>
                      <strong id="od_orderDate"></strong>
                    </div>
                  </div>
                </div>

                <div class="border-top border-gray-200 mt-4 py-4">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="text-muted mb-2">Client</div>
                      <strong id="od_bk_name">
                        John McClane
                      </strong>
                      <p class="fs-sm" >
                       <span id="od_bk_address"></span>
                        <br>
                        <a id="od_bk_email" href="#!" class="text-purple">
                        </a>
                      </p>
                    </div>
                    <div class="col-md-6 text-md-end">
                      <div class="text-muted mb-2">Payment To</div>
                      <strong>
                        Belleza Beach Resort
                      </strong>
                      <p class="fs-sm">
                        Ilashe Luxury Beach, Epe, Lagos
                        <br>
                        <a href="#!" class="text-purple">info@bellezabeachresort.com
                        </a>
                      </p>
                    </div>
                  </div>
                </div>

                <table class="table border-bottom border-gray-200 mt-3">
                  <thead>
                    <tr>
                      <th scope="col" class="fs-sm text-dark text-uppercase-bold-sm px-0">Description</th>
                      <th scope="col" class="fs-sm text-dark text-uppercase-bold-sm text-end px-0">Amount</th>
                    </tr>
                  </thead>
                  <tbody id="od_order_items">

                  </tbody>
                </table>

                <div id="od_total_bill" class="mt-5">
                  <!-- <div class="d-flex justify-content-end">
                    <p class="text-muted me-3">Subtotal:</p>
                    <span>$390.00</span>
                  </div>
                  <div class="d-flex justify-content-end">
                    <p class="text-muted me-3">Discount:</p>
                    <span>-$40.00</span>
                  </div> -->
                  <div class="d-flex justify-content-end mt-3">
                    <h5 class="me-3">Total:</h5>
                    <h5 class="text-success" id="od_order_total"></h5>
                  </div>
                </div>
              </div>

            </div>




      <!-- End card body  -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <span id="od_cta"></span>

      </div>
    </div>
  </div>
</div>


{% endblock modals %}


{% block extra_scripts %}

<script type="text/javascript">


$(document).ready(function(){





let clientType = null

  // check if package in cart

const checkPackageExist = () => {
  let productTypeArr = [];
  for (let key in cart) {
    for (let keyObj in cart[key]) {
      if (keyObj === 'productType') productTypeArr.push(cart[key][keyObj])
    }
  }
return productTypeArr.includes("package");

}

console.log(checkPackageExist())
console.log($("#selected_client_type").val())
if (checkPackageExist() == false){
  clientType = "personal";
  $(".hideable_personal_booking_form").show();
  $(".hideable_client_type_enum").hide();
  $(".hideable_coporate_booking_form").hide();
}else if (checkPackageExist() == true){
  $(".hideable_client_type_enum").show();
  $(".hideable_personal_booking_form").hide();
  $(".hideable_coporate_booking_form").hide();
  let selected_client_type = $("#selected_client_type")
  selected_client_type.on("change", () => {
    if (selected_client_type.val() == "corporate") {
    clientType = "corporate"
    $(".hideable_coporate_booking_form").show();
    $(".hideable_client_type_enum").show();
    $(".hideable_personal_booking_form").hide();
  } else {
    clientType = "personal";
    $(".hideable_personal_booking_form").show();
    $(".hideable_client_type_enum").show();
    $(".hideable_coporate_booking_form").hide();
  }
  })

}



var total = '{{order.get_total}}'


var form = document.getElementById('checkout_form')
form.addEventListener('submit', function(e){
    e.preventDefault()
    console.log('Form Submitted...')
    submitFormData()
})


function submitFormData(){


  let bookingData;

  if (clientType === "personal"){
    bookingData = {
          'first_name': form.first_name.value,
          'last_name': form.last_name.value,
          'email': form.email_contact.value,
          'phone': form.phone_contact.value,
          "address": form.personal_address.value,
          "other_phone":form.other_number.value,
          'total': total,
    }
  } else {
    bookingData = {
            "company_name": form.company_name.value,
            "company_email": form.company_email.value,
            "company_phone_number": form.company_phone_number.value,
            "company_other_phone": form.company_other_phone.value,
            "company_address": form.company_address.value,
            "company_nature": form.company_nature.value,
            "number_of_guests": form.number_of_guests.value,
            "company_representative": form.company_representative.value,
            'total': total,
    }
  }



      console.log('booking data', bookingData, 'client type', clientType)

      var url = "/booking/process_checkout/"

      fetch(url, {
                method: 'POST',
                headers:{
                    'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
                },

                body:JSON.stringify({'clientType':clientType, 'bookingData': bookingData}),
            })
            .then((response) => response.json())
            .then((data) => {
                console.log("Order sent for payment ")


                let json_order_item = JSON.parse(data.order_items);
                console.log(json_order_item)
                let json_order_info = JSON.parse(data.completeOrder);
                let json_booking_info = JSON.parse(data.bookingInfo);

                let od_name = json_booking_info.full_name ? json_booking_info.full_name: json_booking_info.corporate_rep


                $("#od_name").text(`${od_name}`)
                $("#od_orderTotal").text(`${json_order_info.order_total}`)
                $("#od_orderId").text(`${json_order_info.order_id}`)
                $("#od_orderDate").text(`${json_order_info.ordered_date}`)
                $("#od_bk_name").text(`${od_name}`)
                $("#od_bk_address").text(`${json_booking_info.address}`)
                $("#od_bk_email").text(`${json_booking_info.email}`)
                $("#od_order_total").text(`₦${json_order_info.order_total} NGN`)
                let od_order_items = document.getElementById('od_order_items')
                od_order_items.innerHTML = json_order_item.map(item => {
                  if (item.type === "package"){
                    return  `
                    <tr>
                      <td class="px-0">
                      ${item.name}
                       <p>Caution Fee: ${item.caution}</p>
                       <p>Extra Guests: ${item.extra_guests || 0} </p>
                       <p>Extra Guests Cost: ₦${item.extra_guests_cost} </p>
                      </td>
                      <td class="text-end px-0">₦${item.price}</td>
                    </tr>
                `

                  } else {

                    return `
                    <tr>
                      <td class="px-0">
                        ${item.name}
                        <p>Caution Fee: ${item.caution}</p>
                      </td>
                      <td class="text-end px-0">₦${item.price}</td>
                    </tr>
                `
                  }
                }
                ).join('')

                // let od_total_bill = document.getElementById('od_total_bill')

                let od_cta = document.getElementById('od_cta')
                od_cta.innerHTML = `<a href="/booking/payment_view/${data.the_profile_id}/${data.the_order_id}" class="btn btn-primary">Proceed</a>`



                $("#confirm_order_btn").click()
                cart = {}
                document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";

            })
}

})





</script>


{% endblock extra_scripts %}