{% extends 'core/base.html' %}
 {% load static %}

 {% load humanize %}


 {% block content %}

 <main>

    <div class="hero full-height jarallax" data-jarallax data-speed="0.2">
        <img class="jarallax-img kenburns" src="{{the_package.detail_banner_1.url}}" alt="">
        <div class="wrapper opacity-mask d-flex align-items-center  text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <small class="slide-animated one">Belleza Beach Resort</small>
                        <h1 class="slide-animated two">{{the_package.title}}</h1>
                        <p class="slide-animated three">Your Dream Beach Getaway</p>
                    </div>
                </div>
            </div>
            <div class="mouse_wp slide-animated four">
                <a href="#first_section" class="btn_explore">
                    <div class="mouse"></div>
                </a>
            </div>
            <!-- / mouse -->
        </div>
    </div>
    <!-- /Background Img Parallax -->

    <div class="bg_white">
        <div class="container margin_120_95">
            <div>
                <div class="row justify-content-between">
                    <div class="col-lg-5 fixed_title">
                        <div class="title">
                            <small>Belleza Beach Resort</small>
                            <h2>{{the_package.title}} </h2>
                            <p>Maximum Number of {{the_package.nos_of_guest}} Guests.
                                <br>
                                Extra Guest Attract A Fee of ₦{{the_package.extra_guest_fee|intcomma}} Per Person.
                               <br>
                               Refundable caution deposit of ₦{{the_package.caution_fee|intcomma}}
                            </p>
                            <div class="facilities clearfix">
                                {% if the_package.features %}
                                <ul>
                                    {% for item in the_package.features.all %}
                                    <li>
                                        <i class="{{item.icon}}"></i> {{item.title}}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        <div class="list_ok">
                            <ul>
                                <li data-cue="slideInUp" data-delay="200">
                                    <h5>Day Booking - ₦{{the_package.day_price|intcomma}}</h5>
                                    <p>12pm - 7pm.</p>
                                </li>
                                <li data-cue="slideInUp" data-delay="300">
                                    <h5>Overnight Booking - ₦{{the_package.overnight_price|intcomma}}</h5>
                                    <p>12pm - 10am.</p>
                                </li>
                                <li data-cue="slideInUp" data-delay="200">
                                    <h5>Refundable Caution - ₦{{the_package.caution_fee|intcomma}}</h5>
                                </li>
                            </ul>

                        </div>
                        <p><a href="#first_section" class="btn_1">Check Availability</a></p>
                    </div>
                    <div class="col-lg-6 ">
                        <div data-cue="fadeIn" data-delay="500">
                            <figure><img src="{{the_package.detail_banner_1.url}}" alt="" class="img-fluid rounded-img"></figure>
                        </div>
                        <div data-cue="fadeIn" data-delay="500">
                            <figure>
                                <img src="{{the_package.detail_banner_2.url}}" alt="" class="img-fluid rounded-img">
                            </figure>
                        </div>
                        <div data-cue="fadeIn" data-delay="500">
                            <figure>
                                <img src="{{the_package.detail_banner_3.url}}" alt="" class="img-fluid rounded-img">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container-->
    </div>
    <!-- /bg_white -->

    <div class="bg_white" id="first_section">
            <div class="container margin_120_95" id="booking_section">
                <div class="row justify-content-between">
                    <div class="col-xl-4">
                        <div data-cue="slideInUp">
                            <div class="title">
                                <!-- <small>Paradise Hotel</small> -->
                                <h2>Check Availability</h2>
                            </div>
                            <br>
                            <p class="phone_element no_borders"><a href="tel:09169999011"><i class="bi bi-telephone"></i><span><em>Info and bookings</em>09169999011</span></a></p>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div data-cue="slideInUp" data-delay="200">
                            <div class="booking_wrapper">
                                <div class="col-12">
                                    <input type="hidden" id="date_booking" name="date_booking">
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="custom_select">
                                                <select name="selected_period_id" id="selected_period_id" class="wide">
                                                    <option value="" selected disabled>Select Time </option>
                                                    <option value="day">Day</option>
                                                    <option value="night">Overnight</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <button style="display: none;" type="button" id="package_is_available"  data-bs-toggle="modal" data-bs-target="#package_is_available_modal"></button>
                                            <button style="display: none;" type="button" id="package_not_available"  data-bs-toggle="modal" data-bs-target="#package_not_available_modal"></button>
                                            <button style="display: none;" type="button" id="added_to_cart_btn"  data-bs-toggle="modal" data-bs-target="#added_to_cart"></button>
                                            <p class="wide"><a href="#0" id="checkAvailabilty" class="btn_1">Check Availabilty</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>

    </div>


    <div class="bg_white">
        <div class="container margin_120_95">
            <div data-cue="slideInUp">
                <div class="title">
                    <small>Belleza Beach Resort</small>
                    <h2>Other Packages</h2>
                </div>
                {% if similar_packages %}
                <div class="row" data-cues="slideInUp" data-delay="800">
                    {% for package in similar_packages %}
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <a href="{% url 'booking:package-details' package.id %}" class="box_cat_rooms">
                            <figure>
                                <div class="background-image" data-background="url({{package.banner.url}})"></div>
                                <div class="info">
                                    <small>From ₦{{package.day_weekday_price|intcomma}}</small>
                                    <h3>{{package.title}}</h3>
                                    <span>View Details</span>
                                </div>
                            </figure>
                        </a>
                    </div>
                    {% endfor %}


                </div>
                {% endif %}
                <!-- /row-->
            </div>
        </div>
    </div>
    <!-- /bg_white -->



</main>

 {% endblock content %}


 {% block modals %}



<div class="modal fade" id="package_is_available_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"> Selected package is Available </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>   <span id="selectedPackage"></span>   Package is available from <strong><span id="startDate"></span></strong> to  <strong><span id="endDate"></span></strong>. Proceed to booking
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="#" id="bookNowBtn" class="btn btn-primary">Book Now</a>

        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="package_not_available_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Selected package is not Available </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p>   <span id="selectedPackage_ntav"></span> Package is not available from <strong><span id="startDate_ntav"></span></strong> to  <strong><span id="endDate_ntav"></span></strong>.Kindly book another room
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>



<div class="modal fade" id="added_to_cart" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Booking added to your cart</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p> Click the button below to go and checkout </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'booking:cart' %}" class="btn btn-primary">Proceed</a>
        </div>
      </div>
    </div>
  </div>

{% endblock modals %}




{% block extra_scripts %}

<script>

    $(function () {
      "use strict";

      $(function () {
        /* Booked Dates */
        const DateTime = easepick.DateTime;
        const bookedDates = [
          ["2023-02-21", "2023-02-28"],
          "2023-09-07",
          ["2023-10-11", "2023-10-17"],
        ].map((d) => {
          if (d instanceof Array) {
            const start = new DateTime(d[0], "YYYY-MM-DD");
            const end = new DateTime(d[1], "YYYY-MM-DD");

            return [start, end];
          }

          return new DateTime(d, "YYYY-MM-DD");
        });

        /* Configuration picker */
        const picker = new easepick.create({
          element: document.getElementById("date_booking"),
          css: ["/static/css/daterangepicker_v2.css"],
          lang: "en-EN", // Language tags https://www.techonthenet.com/js/language_tags.php
          format: "DD/MM/YYYY",
          calendars: 2,
          grid: 2,
          zIndex: 10,
          inline: true,
          plugins: ["LockPlugin", "RangePlugin"],
          RangePlugin: {
            tooltipNumber(num) {
              return num - 1;
            },
            locale: {
              one: "night",
              other: "nights",
            },
          },
          LockPlugin: {
            minDate: new Date(),
            minDays: 1,
            inseparable: false,
            filter(date, picked) {
              if (picked.length === 1) {
                const incl = date.isBefore(picked[0]) ? "[)" : "(]";
                return (
                  !picked[0].isSame(date, "day") && date.inArray(bookedDates, incl)
                );
              }
              return date.inArray(bookedDates, "[)");
            },
          },
        });
      }); // End Easypick config
    });


    </script>

<script>

$(document).ready(function(){

    // set global variables
    var globBookedDates
    var globSelectedPackage
    var globSelectedPeriod


    let checkAvailabiltyBtn = $("#checkAvailabilty");

    checkAvailabiltyBtn.on("click", () =>{

        let bookedDates = $("#date_booking")
        let selectedPackage = '{{the_package.id}}'
        let selectedPeriod = $("#selected_period_id")
        console.log('availability data', bookedDates.val(), selectedPackage, selectedPeriod.val())

        if (!bookedDates.val()) {
            alert('Please select check-in and check-out date'); return;
        }
        if (!selectedPeriod.val()) {
            alert('Please select period to continue'); return;
        }
        if (!selectedPackage) {
            alert('Please select a package to continue'); return;
        }
        checkAvailabilty(selectedPackage, "package",  bookedDates.val(), 1, selectedPeriod.val() )
    })




// check availablilty
function checkAvailabilty(productId,productType, bookedDates, quantity, period ){

    var url = "/booking/check_availabilty/"

    return fetch(url, {
                method: 'POST',
                headers:{
                    'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
                },

        body:JSON.stringify({'productId':productId, 'productType':productType, 'bookedDates': bookedDates,"quantity":quantity, "period":period}),
    })
    .then((response) => response.json())
    .then((data) => {

        if (data.is_available === true){
            $("#selectedPackage").text(`${data.package_name}`)
            $("#startDate").text(`${data.check_in}`)
            $("#endDate").text(`${data.check_out}`)
            // set global
            globBookedDates = bookedDates
            globSelectedPackage = productId
            globSelectedPeriod = period
            $("#package_is_available").click();
        } else {
            $("#selectedPackage_ntav").text(`${data.package_name}`)
            $("#startDate_ntav").text(`${data.check_in}`)
            $("#endDate_ntav").text(`${data.check_out}`)
            $("#package_not_available").click();
        }
    })

}


let bookNowBtn = $("#bookNowBtn");
bookNowBtn.on("click", () =>{
    addCookieItem(globSelectedPackage, globBookedDates, 1, "package", globSelectedPeriod);
})




// check availablilty lean

function checkAvailabiltyLean(productId,productType, bookedDates, quantity, period ){

var url = "/booking/check_availabilty/"

return fetch(url, {
            method: 'POST',
            headers:{
                'Content-Type':'applicaiton/json',
                'X-CSRFToken':csrftoken,
            },

    body:JSON.stringify({'productId':productId, 'productType':productType, 'bookedDates': bookedDates,"quantity":quantity,"period":period}),
})
.then((response) => response.json())
.then((data) => {
    return data
})

}





// Add to cart
function addCookieItem(productId, bookedDates, quantity, productType, period) {

    if (!productId || !bookedDates || !quantity ||!period) return alert("Booking details missiing!")
    console.log("booking details are", productId, bookedDates, quantity, period);

    checkAvailabiltyLean(productId, productType, bookedDates, quantity, period).then((data) => {
            if (data.is_available === false) return;
        })
    cart[productId] = {quantity: quantity, dateBooked: bookedDates, productType:productType, period:period};



  console.log("Cart", cart);
  document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
  $("#cartTotal").load(" #cartTotal");
  currUrl = window.location.href;
  if (currUrl.indexOf("/booking/cart/") > -1) {
    location.reload();
  } else {
    $("#added_to_cart_btn").click();
  }

  $("#booking_ul").load(" #booking_ul > *");


}
})
</script>

{% endblock extra_scripts %}