{% extends 'core/base.html' %}
 {% load static %}

 {% load humanize %}


 {% block content %}

 <main>

    <div class="hero full-height jarallax" data-jarallax data-speed="0.2">
        <img class="jarallax-img kenburns" src="{{the_package.detail_banner_1.url}}" alt="">
        <div class="wrapper opacity-mask d-flex align-items-center  text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <small class="slide-animated one">Belleza Beach Resort</small>
                        <h1 class="slide-animated two">{{the_package.title}}</h1>
                        <p class="slide-animated three">Your Dream Beach Getaway</p>
                    </div>
                </div>
            </div>
            <div class="mouse_wp slide-animated four">
                <a href="#first_section" class="btn_explore">
                    <div class="mouse"></div>
                </a>
            </div>
            <!-- / mouse -->
        </div>
    </div>
    <!-- /Background Img Parallax -->

    <div class="bg_white">
        <div class="container margin_120_95">
            <div>
                <div class="row justify-content-between">
                    <div class="col-lg-5 fixed_title">
                        <div class="title">
                            <small>Belleza Beach Resort</small>
                            <h2>{{the_package.title}} </h2>
                            <p>Maximum Number of {{the_package.nos_of_guest}} Guests.
                                <br>
                                Extra Guest Attract A Fee of ₦{{the_package.extra_guest_fee|intcomma}} Per Person.
                               <br>
                               Refundable caution deposit of ₦{{the_package.caution_fee|intcomma}}
                            </p>
                            <div class="facilities clearfix">
                                {% if the_package.features %}
                                <ul>
                                    {% for item in the_package.features.all %}
                                    <li>
                                        <i class="{{item.icon}}"></i> {{item.title}}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        <div class="list_ok">
                            <ul>
                                <li data-cue="slideInUp" data-delay="200">
                                    <h5>Day Booking (Weekday) - ₦{{the_package.day_weekday_price|intcomma}}</h5>
                                    <p>11am - 7pm.</p>
                                </li>
                                <li data-cue="slideInUp" data-delay="300">
                                    <h5>Day Booking (Weekend) - ₦{{the_package.day_weekend_price|intcomma}}</h5>
                                    <p>11am - 7pm.</p>
                                </li>
                                <li data-cue="slideInUp" data-delay="200">
                                    <h5>Overnight Booking (Weekday) - ₦{{the_package.overnight_weekday_price|intcomma}}</h5>
                                    <p>11am - 10am.</p>
                                </li>
                                <li data-cue="slideInUp" data-delay="300">
                                    <h5>Overnight Booking (Weekend) - ₦{{the_package.overnight_weekend_price|intcomma}}</h5>
                                    <p>11am - 10am.</p>
                                </li>
                            </ul>
                        </div>
                        <p><a href="#first_section" class="btn_1">Check Availability</a></p>
                    </div>
                    <div class="col-lg-6 ">
                        <div data-cue="fadeIn" data-delay="500">
                            <figure><img src="{{the_package.detail_banner_1.url}}" alt="" class="img-fluid rounded-img"></figure>
                        </div>
                        <div data-cue="fadeIn" data-delay="500">
                            <figure>
                                <img src="{{the_package.detail_banner_2.url}}" alt="" class="img-fluid rounded-img">
                            </figure>
                        </div>
                        <div data-cue="fadeIn" data-delay="500">
                            <figure>
                                <img src="{{the_package.detail_banner_3.url}}" alt="" class="img-fluid rounded-img">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container-->
    </div>
    <!-- /bg_white -->

    <div class="bg_white" id="first_section">
            <div class="container margin_120_95" id="booking_section">
                <div class="row justify-content-between">
                    <div class="col-xl-4">
                        <div data-cue="slideInUp">
                            <div class="title">
                                <!-- <small>Paradise Hotel</small> -->
                                <h2>Check Availability</h2>
                            </div>
                            <br>
                            <p class="phone_element no_borders"><a href="tel:09169999011"><i class="bi bi-telephone"></i><span><em>Info and bookings</em>09169999011</span></a></p>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div data-cue="slideInUp" data-delay="200">
                            <div class="booking_wrapper">
                                <div class="col-12">
                                    <input type="hidden" id="date_booking" name="date_booking">
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="custom_select">
                                            <select class="wide">
                                                <option>Select Package</option>
                                                <option>Bronze Booking</option>
                                                <option>Sliver Booking</option>
                                                <option>Gold Booking</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="custom_select">
                                            <select class="wide">
                                                <option>Select Time</option>
                                                <option>Weekday (Day)</option>
                                                <option>Weekday (Overnight)</option>
                                                <option>Weekend (Day)</option>
                                                <option>Weekend (Overnight)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="text-end mt-1"><a href="#0" class="btn_1">Check Availabilty</a></p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>

    </div>


    <div class="bg_white">
        <div class="container margin_120_95">
            <div data-cue="slideInUp">
                <div class="title">
                    <small>Belleza Beach Resort</small>
                    <h2>Other Packages</h2>
                </div>
                {% if similar_packages %}
                <div class="row" data-cues="slideInUp" data-delay="800">
                    {% for package in similar_packages %}
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <a href="{% url 'booking:package-details' package.id %}" class="box_cat_rooms">
                            <figure>
                                <div class="background-image" data-background="url({{package.banner.url}})"></div>
                                <div class="info">
                                    <small>From ₦{{package.day_weekday_price|intcomma}}</small>
                                    <h3>{{package.title}}</h3>
                                    <span>View Details</span>
                                </div>
                            </figure>
                        </a>
                    </div>
                    {% endfor %}


                </div>
                {% endif %}
                <!-- /row-->
            </div>
        </div>
    </div>
    <!-- /bg_white -->



</main>

 {% endblock content %}