{% extends 'core/base.html' %}

{% load static %}

{% load humanize %}

{% block extra_head %}




<link href="{% static 'css/cart.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock extra_head %}


{% block content %}
<main>
  <div class="hero small-height jarallax" data-jarallax data-speed="0.2">
    <img class="jarallax-img" src="{% static 'img/p4.png' %}" alt="">
    <div class="wrapper opacity-mask d-flex align-items-center justify-content-center text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
        <div class="container">
            <small class="slide-animated one">Belleza Beach Resort</small>
            <h1 class="slide-animated two">Payments</h1>
        </div>
    </div>
</div>

<section class="h-100 gradient-custom">

  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Proceed with Paystack</h5>
          </div>

          <div class="card-body">
            <img src="{% static 'img/paystack_icon.png' %}" width="100%" alt="">

            <form id="paystack-payment-form"  action="{% url 'booking:process-paystack-payment' %}" class="form" method="POST">

                {% csrf_token %}

                <script src="https://js.paystack.co/v2/inline.js"></script>

                <input type="hidden" name="payment_type" value="paystack">

                <input id="amount" type="hidden" value="{{order.get_total}}" />
                <input id="paystack_public_key" type="hidden" value="{{TEST_PAYSTACK_PUBLIC_KEY}}" />

                <input id="pay-email" type="hidden" value="{{the_profile.user.email}}" />
            <button type="button" onclick= "payWithPaystack()" class="btn_1">
                Proceed to Payment
              </button>
            </form>
          </div>
          </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Proceed with Flutterwave </h5>
          </div>
          <div class="card-body">

            <img src="{% static 'img/flutterwave_icon.png' %}" width="100%" alt="">

            <form id="flutterwave-payment-form" method="POST" action="{% url 'booking:process-flutterwave-payment' %}" class="form" >




                <script src="https://checkout.flutterwave.com/v3.js"></script>


                <input id="order-ref" type="hidden" value="{{order.id}}" />
                <input id="flutterwave_public_key" type="hidden" value="{{TEST_FLW_PUBLIC_KEY}}" />

                <button onclick="payWithFlutterwave()" type="submit" class="btn_1">
                    Proceed to Payment
                  </button>
            </form>

          </div>
        </div>
      </div>
      </div>
  </div>

</section>
</main>
{% endblock content %}

{% block extra_scripts %}

<script type="text/javascript">

    cart = {}
    document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";

    var orderAmount = Number($("input#amount").val())

    let paystackForm = document.getElementById("paystack-payment-form");

    paystackForm.addEventListener("submit", function (event) {
        event.preventDefault();
    });

    function payWithPaystack() {

        const paystack = new PaystackPop();
        paystack.newTransaction({
            key: $("input#paystack_public_key").val(),
            email: $("input#pay-email").val(),
            // amount:  `${orderAmount}00`,
            amount:  `${orderAmount}`,
            ref:$("input#order-ref").val(),
            currency: "NGN",

            onSuccess: (transaction) => {
                        // Payment complete! Reference: transaction.reference
                var element = document.createElement("input");
                element.setAttribute("type", "hidden");
                element.setAttribute("name", "paystackToken");
                element.setAttribute("value", transaction.reference);
                var form = document.getElementById("paystack-payment-form");
                form.appendChild(element);
                form.submit();
                        },
            onCancel: () => {
                // user closed popup
                alert("sorry we could not complete your payment!")
            }

        });
    }

    let flutterwaveForm = document.getElementById("flutterwave-payment-form");

    flutterwaveForm.addEventListener("submit", function (event) {
        event.preventDefault();
    });

    function payWithFlutterwave() {

        console.log($("input#order-ref").val())
        FlutterwaveCheckout({
            public_key: $("input#flutterwave_public_key").val(),
            tx_ref: $("input#order-ref").val(),
            amount: orderAmount,
            currency: "NGN",
            payment_options: "card, banktransfer, ussd",

            customer: {
                email: $("input#pay-email").val(),

            },
            customizations: {
                title: "Belleza Beach Resort",
                description: `Payment for order ${$("input#order-ref").val().slice(0,8)}`,
                // logo: "https://checkout.flutterwave.com/assets/img/rave-logo.png",
                logo: "https://i0.wp.com/bellezabeachresort.com/wp-content/uploads/2022/11/Belleza-Resort_Logo-1.png?w=582&ssl=1",
            },

            callback: function(payment) {
                    // Send AJAX verification request to backend
                console.log(payment)
                console.log(payment.transaction_id)
                console.log(payment.tx_ref)
                var form = document.getElementById("flutterwave-payment-form");
                var element = document.createElement("input");
                element.setAttribute("type", "hidden");
                element.setAttribute("name", "flutterwave_id");
                element.setAttribute("value", payment.transaction_id);
                form.appendChild(element);

                var element2 = document.createElement("input");
                element2.setAttribute("type", "hidden");
                element2.setAttribute("name", "flutterwave_tx_ref");
                element2.setAttribute("value", payment.tx_ref);
                form.appendChild(element2);

                form.submit();

            },

            onclose: function(incomplete){
                if (incomplete === true) {
                    alert("sorry we could not complete your payment!")
                }
            }
        });
    }


</script>

{% endblock extra_scripts %}

