{% extends 'core/base.html' %}
 {% load static %}

 {% load humanize %}


 {% block content %}



 <main>





    <div class="hero full-height jarallax" data-jarallax data-speed="0.2">
        <img class="jarallax-img kenburns" src="{{the_room.banner.url}}" alt="">
        <div class="wrapper opacity-mask d-flex align-items-center  text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <small class="slide-animated one">Belleza Beach Resort</small>
                        <h1 class="slide-animated two">{{the_room.title}}</h1>
                        <p class="slide-animated three">{{the_room.short_desc}}</p>
                    </div>
                </div>
            </div>
            <div class="mouse_wp slide-animated four">
                <a href="#first_section" class="btn_explore">
                    <div class="mouse"></div>
                </a>
            </div>
            <!-- / mouse -->
        </div>
    </div>



    <div class="bg_white" id="first_section">
        <div class="container margin_120_95">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="title">
                        <small>Belleza Beach Resort</small>
                        <h2>{{the_room.title}}</h2>
                        <h4 style="color: #c5934c;">₦{{the_room.price|intcomma}}</h4>
                    </div>
                    <p>{{the_room.long_desc}}</p>
                    <h6 style="color: #c5934c;">Refundable Caution: ₦{{the_room.caution_fee|intcomma}}</h6>

                </div>
                <div class="col-lg-6">
                    <div class="room_facilities_list">
                        {% if the_room.features %}
                        <ul data-cues="slideInLeft">
                            {% for item in the_room.features.all %}
                            <li><i class="{{item.icon}}"></i> {{item.title}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /row -->
            <div class="container margin_120_95" id="booking_section">
                <div class="row justify-content-between">
                    <div class="col-xl-4">
                        <div data-cue="slideInUp">
                            <div class="title">
                                <!-- <small>Paradise Hotel</small> -->
                                <h2>Check Availability</h2>
                            </div>
                            <br>
                            <p class="icon-hotel-calendar_3" style="font-weight: bold;">  Check In: {{the_room.check_in}}</p>
                            <p class="icon-hotel-calendar_2" style="font-weight: bold;">  Check Out: {{the_room.check_out}}</p>
                            <br>
                            <p class="phone_element no_borders"><a href="tel:09169999011"><i class="bi bi-telephone"></i><span><em>Info and bookings</em>09169999011</span></a></p>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div data-cue="slideInUp" data-delay="200">
                            <div class="booking_wrapper">
                                <div class="col-12">
                                    <input type="hidden" id="date_booking" name="date_booking">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="custom_select">
                                            <select class="wide">
                                                <option>Number of Rooms</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <p class="text-end mt-1"><a href="#0" class="btn_1">Check Availabilty</a></p>
                                    </div>
                                </div>
                            </div>
                            <!-- / row -->

                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_white -->
    <br>
    <div class="bg_white add_bottom_120">
        {% if the_room.gallery %}
        <div class="container-fluid p-lg-0">
            <div data-cues="zoomIn">

                <div class="owl-carousel owl-theme carousel_item_centered kenburns rounded-img">
                    {% for item in the_room.gallery.all %}
                    <div class="item">
                        <img src="{{item.images.url}}" alt="">
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="text-center mt-5">
                {% with the_room.gallery.all|first as first_object %}
                <a class="btn_1 outline" data-fslightbox="gallery_1" data-type="image" href="{{first_object.images.url}}">FullScreen Gallery</a>
                {% endwith %}
                {% for item in the_room.gallery.all %}
                <a data-fslightbox="gallery_1" data-type="image" href="{{item.images.url}}"></a>
                {% endfor %}

            </div>
        </div>
        {% endif %}
    </div>
    <!-- /bg_white -->

    <div class="bg_white">
        <div class="container margin_120_95">
            <div data-cue="slideInUp">
                <div class="title">
                    <small>Belleza Beach Resort</small>
                    <h2>Similar Rooms</h2>
                </div>
                {% if similar_rooms %}
                <div class="row" data-cues="slideInUp" data-delay="800">
                    {% for room in similar_rooms %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                        <a href="{% url 'booking:room-details' room.id %}" class="box_cat_rooms">
                            <figure>
                                <div class="background-image" data-background="url({{room.thumbnail.url}})"></div>
                                <div class="info">
                                    <small>₦{{room.price|intcomma}}</small>
                                    <h3>{{room.title}}</h3>
                                    <span>Read more</span>
                                </div>
                            </figure>
                        </a>
                    </div>
                    {% endfor %}

                </div>
                {% endif %}
                <!-- /row-->
            </div>
        </div>
    </div>
    <!-- /bg_white -->



</main>


{% endblock content %}