{% extends 'core/base.html' %}
 {% load static %}

 {% load humanize %}


 {% block content %}



 <main>

    <div class="hero full-height jarallax" data-jarallax data-speed="0.2">
        <img class="jarallax-img kenburns" src="{{the_room.banner.url}}" alt="">
        <div class="wrapper opacity-mask d-flex align-items-center  text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <small class="slide-animated one">Belleza Beach Resort</small>
                        <h1 class="slide-animated two">{{the_room.title}}</h1>
                        <p class="slide-animated three">{{the_room.short_desc}}</p>
                    </div>
                </div>
            </div>
            <div class="mouse_wp slide-animated four">
                <a href="#first_section" class="btn_explore">
                    <div class="mouse"></div>
                </a>
            </div>
            <!-- / mouse -->
        </div>
    </div>
    <!-- /Background Img Parallax -->

    <div class="bg_white" id="first_section">
        <div class="container margin_120_95">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="title">
                        <small>Belleza Beach Resort</small>
                        <h2>{{the_room.title}}</h2>
                    </div>
                    <p>{{the_room.long_desc}}</p>

                </div>
                <div class="col-lg-6">
                    <div class="room_facilities_list">
                        {% if the_room.features %}
                        <ul data-cues="slideInLeft">
                            {% for item in the_room.features.all %}
                            <li><i class="{{item.icon}}"></i> {{item.title}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /row -->
            <div class="container margin_120_95" id="booking_section">
                <div class="row justify-content-between">
                    <div class="col-xl-4">
                        <div data-cue="slideInUp">
                            <div class="title">
                                <!-- <small>Paradise Hotel</small> -->
                                <h2>Check Availability</h2>
                            </div>
                            <br>
                            <p class="icon-hotel-calendar_3" style="font-weight: bold;">  Check In: {{the_room.check_in}}</p>
                            <p class="icon-hotel-calendar_2" style="font-weight: bold;">  Check Out: {{the_room.checkout}}</p>
                            <br>
                            <p class="phone_element no_borders"><a href="tel:09169999011"><i class="bi bi-telephone"></i><span><em>Info and bookings</em>09169999011</span></a></p>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div data-cue="slideInUp" data-delay="200">
                            <div class="booking_wrapper">
                                <div class="col-12">
                                    <input type="hidden" id="date_booking" name="date_booking">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="custom_select">
                                            <select class="wide">
                                                <option>Select Room</option>
                                                <option>Deluxe Room</option>
                                                <option>007 Executive</option>
                                                <option>Poolview Room</option>
                                                <option>Oceanview Room</option>
                                                <option>Full Poolview Room</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <p class="text-end mt-1"><a href="#0" class="btn_1">Check Availabilty</a></p>
                                    </div>
                                </div>
                            </div>
                            <!-- / row -->

                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_white -->
    <br>
    <div class="bg_white add_bottom_120">
        {% if the_room.gallery %}
        <div class="container-fluid p-lg-0">
            <div data-cues="zoomIn">

                <div class="owl-carousel owl-theme carousel_item_centered kenburns rounded-img">
                    {% for item in the_room.gallery.all %}
                    <div class="item">
                        <img src="{{item.images.url}}" alt="">
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="text-center mt-5">
                {% with the_room.gallery.all|first as first_object %}
                <a class="btn_1 outline" data-fslightbox="gallery_1" data-type="image" href="{{first_object.images.url}}">FullScreen Gallery</a>
                {% endwith %}
                {% for item in the_room.gallery.all %}
                <a data-fslightbox="gallery_1" data-type="image" href="{{item.images.url}}"></a>
                {% endfor %}

            </div>
        </div>
        {% endif %}
    </div>
    <!-- /bg_white -->

    <div class="bg_white">
        <div class="container margin_120_95">
            <div data-cue="slideInUp">
                <div class="title">
                    <small>Belleza Beach Resort</small>
                    <h2>Similar Rooms</h2>
                </div>
                {% if similar_rooms %}
                <div class="row" data-cues="slideInUp" data-delay="800">
                    {% for room in similar_rooms %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                        <a href="{% url 'booking:room-details' room.id %}" class="box_cat_rooms">
                            <figure>
                                <div class="background-image" data-background="url({{room.thumbnail.url}})"></div>
                                <div class="info">
                                    <small>₦{{room.price|intcomma}}</small>
                                    <h3>{{room.title}}</h3>
                                    <span>Read more</span>
                                </div>
                            </figure>
                        </a>
                    </div>
                    {% endfor %}

                </div>
                {% endif %}
                <!-- /row-->
            </div>
        </div>
    </div>
    <!-- /bg_white -->

    <div class="container margin_120_95" id="reviews">
        <div class="row justify-content-between">
            <div class="col-lg-4 order-lg-2 fixed_title reviews_sum_details">
                <div class="title">
                    <small>Belleza Beach Resort</small>
                    <h2>Reviews</h2>
                </div>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
                <h6>Comfort</h6>
                <div class="row mb-2">
                    <div class="col-xl-10 col-lg-9 col-10">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-2"><strong>9.0</strong></div>
                </div>
                <!-- /row -->
                <h6>Facilities</h6>
                <div class="row mb-2">
                    <div class="col-xl-10 col-lg-9 col-10">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-2"><strong>9.5</strong></div>
                </div>
                <!-- /row -->
                <h6>Location</h6>
                <div class="row mb-2">
                    <div class="col-xl-10 col-lg-9 col-10">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-2"><strong>6.0</strong></div>
                </div>
                <!-- /row -->
                <h6>Price</h6>
                <div class="row mb-2">
                    <div class="col-xl-10 col-lg-9 col-10">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-2"><strong>6.0</strong></div>
                </div>
                <!-- /row -->
            </div>
            <div class="col-lg-7 order-lg-1">
                <div class="review_card">
                    <div class="row">
                        <div class="col-md-2 user_info">
                            <figure><img src="img/avatar4.jpg" alt=""></figure>
                            <h5>Lukas</h5>
                        </div>
                        <div class="col-md-10 review_content">
                            <div class="clearfix mb-3">
                                <span class="rating">8.5<small>/10</small> <strong>Rating average</strong></span>
                                <em>Published 54 minutes ago</em>
                            </div>
                            <h4>"Great Location!!"</h4>
                            <p>Eos tollit ancillae ea, lorem consulatu qui ne, eu eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his. Tollit molestie suscipiantur his et.</p>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /review_card -->
                <div class="review_card">
                    <div class="row">
                        <div class="col-md-2 user_info">
                            <figure><img src="img/avatar6.jpg" alt=""></figure>
                            <h5>Lukas</h5>
                        </div>
                        <div class="col-md-10 review_content">
                            <div class="clearfix mb-3">
                                <span class="rating">8.5<small>/10</small> <strong>Rating average</strong></span>
                                <em>Published 10 Oct. 2022</em>
                            </div>
                            <h4>"Awesome Experience"</h4>
                            <p>Eos tollit ancillae ea, lorem consulatu qui ne, eu eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his. Tollit molestie suscipiantur his et.</p>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /review_card -->
                <div class="review_card">
                    <div class="row">
                        <div class="col-md-2 user_info">
                            <figure><img src="img/avatar1.jpg" alt=""></figure>
                            <h5>Marika</h5>
                        </div>
                        <div class="col-md-10 review_content">
                            <div class="clearfix mb-3">
                                <span class="rating">9.0<small>/10</small> <strong>Rating average</strong></span>
                                <em>Published 11 Oct. 2022</em>
                            </div>
                            <h4>"Really great dinner!!"</h4>
                            <p>Eos tollit ancillae ea, lorem consulatu qui ne, eu eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his. Tollit molestie suscipiantur his et.</p>
                        </div>
                    </div>
                    <!-- /row -->
                    <div class="row reply">
                        <div class="col-md-2 user_info">
                            <figure><img src="img/avatar.jpg" alt=""></figure>
                        </div>
                        <div class="col-md-10">
                            <div class="review_content">
                                <strong>Reply from Admin</strong>
                                <em>Published 3 minutes ago</em>
                                <p><br>Hi Monika,<br><br>Eos tollit ancillae ea, lorem consulatu qui ne, eu eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his. Tollit molestie suscipiantur his et.<br><br>Thanks</p>
                            </div>
                        </div>
                    </div>
                    <!-- /reply -->
                </div>
                <!-- /review_card -->
                <p class="text-end"><a href="#0" class="btn_1">Leave a review</a></p>
            </div>
        </div>
    </div>
    <!-- /reviews -->

</main>


{% endblock content %}