{% extends 'core/base.html' %}
 {% load static %}

 {% load humanize %}


 {% block content %}



 <main>





    <div class="hero full-height jarallax" data-jarallax data-speed="0.2">
        <img class="jarallax-img kenburns" src="{{the_room.banner.url}}" alt="">
        <div class="wrapper opacity-mask d-flex align-items-center  text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <small class="slide-animated one">Belleza Beach Resort</small>
                        <h1 class="slide-animated two">{{the_room.title}}</h1>
                        <p class="slide-animated three">{{the_room.short_desc}}</p>
                    </div>
                </div>
            </div>
            <div class="mouse_wp slide-animated four">
                <a href="#first_section" class="btn_explore">
                    <div class="mouse"></div>
                </a>
            </div>
            <!-- / mouse -->
        </div>
    </div>



    <div class="bg_white" id="first_section">
        <div class="container margin_120_95">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="title">
                        <small>Belleza Beach Resort</small>
                        <h2>{{the_room.title}}</h2>
                        <h4 style="color: #c5934c;">₦{{the_room.price|intcomma}}</h4>
                    </div>
                    <p>{{the_room.long_desc}}</p>
                    <h6 style="color: #c5934c;">Refundable Caution: ₦{{the_room.caution_fee|intcomma}}</h6>

                </div>
                <div class="col-lg-6">
                    <div class="room_facilities_list">
                        {% if the_room.features %}
                        <ul data-cues="slideInLeft">
                            {% for item in the_room.features.all %}
                            <li><i class="{{item.icon}}"></i> {{item.title}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /row -->
            <div class="container margin_120_95" id="booking_section">
                <div class="row justify-content-between">
                    <div class="col-xl-4">
                        <div data-cue="slideInUp">
                            <div class="title">
                                <!-- <small>Paradise Hotel</small> -->
                                <h2>Check Availability</h2>
                            </div>
                            <br>
                            <p class="icon-hotel-calendar_3" style="font-weight: bold;">  Check In: {{the_room.check_in}}</p>
                            <p class="icon-hotel-calendar_2" style="font-weight: bold;">  Check Out: {{the_room.check_out}}</p>
                            <br>
                            <p class="phone_element no_borders"><a href="tel:09169999011"><i class="bi bi-telephone"></i><span><em>Info and bookings</em>09169999011</span></a></p>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div data-cue="slideInUp" data-delay="200">
                            <div class="booking_wrapper">
                                <div class="col-12">
                                    <input type="hidden" id="date_booking" name="date_booking">
                                </div>
                                <div class="row">

                                  <!-- <div class="col-lg-6" id="selected_days_row">

                                    <input class="form-control wide" type="number" id="selected_days_id" value="1"  onchange="javascript: if (parseInt(this.value) > this.max) this.value = this.max;"  placeholder="Number of Rooms" name="selected_days_id" min="1" max="1" required>

                                </div> -->

                                    <div class="col-lg-6">
                                        <div class="custom_select">
                                            <select  name="selected_days_id" id="selected_days_id" class="wide" >

                                                <option value="" selected disabled> Select Number of Rooms </option>
                                                {% for i in availability_count %}
                                                <option value="{{i}}">{{i}}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <button style="display: none;" type="button" id="room_is_available"  data-bs-toggle="modal" data-bs-target="#room_is_available_modal"></button>
                                        <button style="display: none;" type="button" id="room_not_available"  data-bs-toggle="modal" data-bs-target="#room_not_available_modal"></button>
                                        <button style="display: none;" type="button" id="added_to_cart_btn"  data-bs-toggle="modal" data-bs-target="#added_to_cart"></button>
                                        <p class="text-end mt-1"><a href="#0"   id="checkAvailabilty" class="btn_1">Check Availabilty</a></p>
                                    </div>
                                </div>
                            </div>
                            <!-- / row -->

                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_white -->
    <br>
    <div class="bg_white add_bottom_120">
        {% if the_room.gallery %}
        <div class="container-fluid p-lg-0">
            <div data-cues="zoomIn">

                <div class="owl-carousel owl-theme carousel_item_centered kenburns rounded-img">
                    {% for item in the_room.gallery.all %}
                    <div class="item">
                        <img src="{{item.images.url}}" alt="">
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="text-center mt-5">
                {% with the_room.gallery.all|first as first_object %}
                <a class="btn_1 outline" data-fslightbox="gallery_1" data-type="image" href="{{first_object.images.url}}">FullScreen Gallery</a>
                {% endwith %}
                {% for item in the_room.gallery.all %}
                <a data-fslightbox="gallery_1" data-type="image" href="{{item.images.url}}"></a>
                {% endfor %}

            </div>
        </div>
        {% endif %}
    </div>
    <!-- /bg_white -->

    <div class="bg_white">
        <div class="container margin_120_95">
            <div data-cue="slideInUp">
                <div class="title">
                    <small>Belleza Beach Resort</small>
                    <h2>Similar Rooms</h2>
                </div>
                {% if similar_rooms %}
                <div class="row" data-cues="slideInUp" data-delay="800">
                    {% for room in similar_rooms %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                        <a href="{% url 'booking:room-details' room.id %}" class="box_cat_rooms">
                            <figure>
                                <div class="background-image" data-background="url({{room.thumbnail.url}})"></div>
                                <div class="info">
                                    <small>₦{{room.price|intcomma}}</small>
                                    <h3>{{room.title}}</h3>
                                    <span>Read more</span>
                                </div>
                            </figure>
                        </a>
                    </div>
                    {% endfor %}

                </div>
                {% endif %}
                <!-- /row-->
            </div>
        </div>
    </div>
    <!-- /bg_white -->



</main>


{% endblock content %}



{% block modals %}



<div class="modal fade" id="room_is_available_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"> Selected room is Available </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>   <span id="selectedRoom"></span>   Room is available from <strong><span id="startDate"></span></strong> to  <strong><span id="endDate"></span></strong>. Proceed to booking
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="#" id="bookNowBtn" class="btn btn-primary">Book Now</a>

        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="room_not_available_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Selected room is not Available </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p>   <span id="selectedRoom_ntav"></span> Room has been fully booked from <strong><span id="startDate_ntav"></span></strong> to  <strong><span id="endDate_ntav"></span></strong>.Kindly book another room
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>



<div class="modal fade" id="added_to_cart" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Booking added to your cart</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p> Click the button below to go and checkout </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'booking:cart' %}" class="btn btn-primary">Proceed</a>
        </div>
      </div>
    </div>
  </div>

{% endblock modals %}


{% block extra_scripts %}



<script>

$(function () {
  "use strict";

  $(function () {
    /* Booked Dates */
    const DateTime = easepick.DateTime;
    const bookedDates = [
      ["2024-02-21", "2024-02-28"],
      "2023-09-07",
      ["2023-10-11", "2023-10-17"],
    ].map((d) => {
      if (d instanceof Array) {
        const start = new DateTime(d[0], "YYYY-MM-DD");
        const end = new DateTime(d[1], "YYYY-MM-DD");

        return [start, end];
      }

      return new DateTime(d, "YYYY-MM-DD");
    });

    /* Configuration picker */
    const picker = new easepick.create({
      element: document.getElementById("date_booking"),
      css: ["/static/css/daterangepicker_v2.css"],
      lang: "en-EN", // Language tags https://www.techonthenet.com/js/language_tags.php
      format: "DD/MM/YYYY",
      calendars: 2,
      grid: 2,
      zIndex: 10,
      inline: true,
      plugins: ["LockPlugin", "RangePlugin"],
      RangePlugin: {
        tooltipNumber(num) {
          return num - 1;
        },
        locale: {
          one: "night",
          other: "nights",
        },
      },
      LockPlugin: {
        minDate: new Date(),
        minDays: 2,
        inseparable: false,
        filter(date, picked) {
          if (picked.length === 1) {
            const incl = date.isBefore(picked[0]) ? "[)" : "(]";
            return (
              !picked[0].isSame(date, "day") && date.inArray(bookedDates, incl)
            );
          }
          return date.inArray(bookedDates, "[)");
        },
      },
    });
  }); // End Easypick config
});


</script>




<script>

$(document).ready(function(){






    // set global variables
    var globBookedDates
    var globSelectedRoom
    var globSelectedNumberOfRooms


    let checkAvailabiltyBtn = $("#checkAvailabilty");

    checkAvailabiltyBtn.on("click", () =>{

        let bookedDates = $("#date_booking")
        let selectedRoom = '{{the_room.id}}'
        let selectedNumberOfRooms = $("#selected_days_id")
        console.log('availability data', bookedDates.val(), selectedRoom, selectedNumberOfRooms.val())

        if (!bookedDates.val()) {
            alert('Please select check-in and check-out date'); return;
        }
        if (!selectedNumberOfRooms.val()) {
            alert('Please select number of rooms'); return;
        }
        if (!selectedRoom) {
            alert('Please select a room to continue'); return;
        }
        checkAvailabilty(selectedRoom, "room",  bookedDates.val(), Number(selectedNumberOfRooms.val()))
    })




// check availablilty
function checkAvailabilty(productId,productType, bookedDates, quantity ){

    var url = "/booking/check_availabilty/"

    return fetch(url, {
                method: 'POST',
                headers:{
                    'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
                },

        body:JSON.stringify({'productId':productId, 'productType':productType, 'bookedDates': bookedDates,"quantity":quantity}),
    })
    .then((response) => response.json())
    .then((data) => {

        console.log(data)

        if (data.is_available === true){
            $("#selectedRoom").text(`${data.room_name}`)
            $("#startDate").text(`${data.check_in}`)
            $("#endDate").text(`${data.check_out}`)
            // set global
            globBookedDates = bookedDates
            globSelectedNumberOfRooms = quantity
            globSelectedRoom = productId
            $("#room_is_available").click();
        } else {
            $("#selectedRoom_ntav").text(`${data.room_name}`)
            $("#startDate_ntav").text(`${data.check_in}`)
            $("#endDate_ntav").text(`${data.check_out}`)
            $("#room_not_available").click();
        }
    })

}


let bookNowBtn = $("#bookNowBtn");
bookNowBtn.on("click", () =>{
    addCookieItem(globSelectedRoom, globBookedDates, globSelectedNumberOfRooms, "room");
})




// check availablilty lean

function checkAvailabiltyLean(productId,productType, bookedDates, quantity ){

var url = "/booking/check_availabilty/"

return fetch(url, {
            method: 'POST',
            headers:{
                'Content-Type':'applicaiton/json',
                'X-CSRFToken':csrftoken,
            },

    body:JSON.stringify({'productId':productId, 'productType':productType, 'bookedDates': bookedDates,"quantity":quantity}),
})
.then((response) => response.json())
.then((data) => {
    return data
})

}





// Add to cart
function addCookieItem(productId, bookedDates, quantity, productType) {

    if (!productId || !bookedDates || !quantity) return alert("Booking details missiing!")
    console.log("booking details are", productId, bookedDates, quantity);

    checkAvailabiltyLean(productId, productType, bookedDates, quantity).then((data) => {
            if (data.is_available === false) return;
        })
    cart[productId] = { quantity: quantity, dateBooked: bookedDates, productType:productType};



  console.log("Cart", cart);
  document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
  $("#cartTotal").load(" #cartTotal");
  currUrl = window.location.href;
  if (currUrl.indexOf("/booking/cart/") > -1) {
    location.reload();
  } else {
    $("#added_to_cart_btn").click();
  }

  $("#booking_ul").load(" #booking_ul > *");


}
})
</script>

{% endblock extra_scripts %}