{% extends 'core/base.html' %}

{% load static %}
{% load humanize %}

{% block content %}


<main>
    <div class="hero small-height jarallax" data-jarallax data-speed="0.2">
        <img class="jarallax-img" src="{% static 'img/abog.png' %}" alt="">
        <div class="wrapper opacity-mask d-flex align-items-center justify-content-center text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <div class="container">
                <small class="slide-animated one">Belleza Beach Resort</small>
                <h1 class="slide-animated two">About Belleza</h1>
            </div>
        </div>
    </div>
    <!-- /Background Img Parallax -->

    <div class="container margin_120_95">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
                <div class="parallax_wrapper inverted">
                    <img src="{% static 'img/abinner2.png' %}" alt="" class="img-fluid rounded-img">
                    <div data-cue="slideInUp" class="img_over"><span data-jarallax-element="-30"><img src="{% static 'img/aboutinner.png' %}" alt="" class="rounded-img"></span></div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="intro">
                    <div class="title">
                        <small>Belleza Beach Resort</small>
                        <h2>Best Beach Resort in Lagos</h2>
                    </div>
                    <p class="lead">Experience the tranquility of nature and the splendor of luxury at Belleza — your homecoming beach resort. Our first-class services and commitment to our guests' needs make us the best beach resort in Lagos.</p>
                      <p>At Belleza Beach Resort, we uphold our core values of Integrity, Customer Service, and Excellence (ICE), offering a customer-centric service to the utmost satisfaction of our guests. Situated around the historic Lagos Lagoon waterfront, our resort embodies the effortless serenity of nature with the finesse of modern amenities. </p>
                      <p>The cool breeze of the ocean welcomes you as you walk on the fine sands of the beach, savoring the beauty of the environment. Your first visit to our resort is the beginning of many more visits — we think of it as an ice-breaker to an exciting and recurring conversation. Whether you are visiting us for vacation, business, or a romantic getaway, we are here to cater to your needs.</p>
                </div>
            </div>
        </div>
        <!-- /Row -->
    </div>
    <!-- /container -->

    <div class="bg_white">
        <div class="container margin_120_95">
            <div>
                <div class="row justify-content-between">
                    <div class="col-lg-5 fixed_title">
                        <div class="title">
                            <small>Belleza Beach Resort</small>
                            <h2>Our Process</h2>
                        </div>
                        <div class="list_ok">
                            <ul>
                                <li data-cue="slideInUp" data-delay="200">
                                    <h5>Book A Room / Package</h5>
                                    <p>Reserve a room of your choice by filling out your details here on our website, checkout our rooms and packages page.</p>
                                </li>
                                <li data-cue="slideInUp" data-delay="300">
                                    <h5>Arrive At Belleza</h5>
                                    <p>Take a boat trip to the resort. If you need us to help you make arrangements for a boat to convey you to the resort, please let us know by sending a whatsapp message <a style="text-decoration: underline;" href="https://api.whatsapp.com/send/?phone=2349169999011&text&type=phone_number&app_absent=0">Here</a></p>
                                </li>
                                <li data-cue="slideInUp" data-delay="400">
                                    <h5>Enjoy Your Stay</h5>
                                    <p>With our spacious rooms, recreational activities, food and great customer service, be rest assured of having a great time at Belleza.</p>
                                </li>
                                <p><a href="{% url 'booking:rooms' %}" class="btn_1 mt-1 outline">View Our Rooms</a></p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div data-cue="fadeIn" data-delay="500">
                            <figure><img src="{% static 'img/facility2.png' %}" alt="" class="img-fluid rounded-img"></figure>
                        </div>
                        <div data-cue="fadeIn" data-delay="500">
                            <figure>
                                <img src="{% static 'img/facility3.png' %}" alt="" class="img-fluid rounded-img">
                            </figure>
                        </div>
                        <div data-cue="fadeIn" data-delay="500">
                            <figure>
                                <img src="{% static 'img/facility.png' %}" alt="" class="img-fluid rounded-img">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container-->
    </div>
    <!-- /bg_white -->

    <div class="parallax_wrapper inverted">
        <div class="container margin_120_95">
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-d31325c6-c124-4ca2-b697-8126cae97480" data-elfsight-app-lazy></div>
            <br>
            <div class="title text-center mb-5">
                <p><a href="https://www.google.com/travel/search?g2lb=2502548%2C2503771%2C2503781%2C4258168%2C4270442%2C4284970%2C4291517%2C4597339%2C4757164%2C4814050%2C4864715%2C4874190%2C4886480%2C4893075%2C4924070%2C4965990%2C4990494%2C72298667%2C72302247%2C72314553%2C72317059%2C72321071%2C72329544%2C72336909%2C72355851&hl=en-NG&gl=ng&ssta=1&ts=CAESABorCikSJzIlMHgxMDNiODc2MDU1ZmI1N2NkOjB4MTJlNzhlYjVlYjY4MTE4YQ&qs=CAEyE0Nnb0lpcU9nMjk3VzRfTVNFQUU4Ag&ap=ugEHcmV2aWV3cw&ictx=1&ved=0CAAQ5JsGahcKEwiQta6lvKKBAxUAAAAAHQAAAAAQCQ" class="btn_1">Leave A Review</a></p>
            </div>
        </div>
  </div>
  <hr>

    <div class="container margin_120_95">
        <div class="title text-center mb-5">
            <small data-cue="slideInUp">Belleza Beach Resort</small>
            <h2 data-cue="slideInUp" data-delay="100">Main Facilities</h2>
        </div>
        <div class="row mt-4">
            <div class="col-lg-3 col-md-6">
                <div class="box_facilities no-border" data-cue="slideInUp">
                    <i class="icon-hotel-patio"></i>
                    <h3>Game House</h3>
                    <p>A game house with a variety of games for both adults and children.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box_facilities" data-cue="slideInUp">
                    <i class="customicon-wifi"></i>
                    <h3>High Speed Wifi</h3>
                    <p>High speed Free Wi-Fi at the resort.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box_facilities" data-cue="slideInUp">
                    <i class="customicon-cocktail"></i>
                    <h3>Bar & Restaurant</h3>
                    <p>We have a restaurant to cater to your meals throughout your stay. We also have 3 Bars.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box_facilities" data-cue="slideInUp">
                    <i class="customicon-swimming-pool"></i>
                    <h3>Swimming Pool</h3>
                    <p>We have a 28-metre swimming pool at the resort.</p>
                </div>
            </div>
          </div>
        <!-- /Row -->
        <hr class="more_margin">
        <div id="faq" class="row justify-content-between margin_60_0">
            <div class="col-lg-4">
                <div class="title">
                    <small>Belleza Beach Resort Faqs</small>
                    <h3>Frequently Questions</h3>
                </div>
                <p>Can’t find your question in the list?
                    Let us know your questions.</p>
                <p><a href="{% url 'core:contact-us' %}" class="animated_link"><strong>Contact Us <i class="bi bi-arrow-right"></i></strong></a></p>
            </div>


            <div class="col-lg-7">
                <div role="tablist" class="mb-5 accordion" id="faq">
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseOne_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>Can I book online?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>
                                    Yes, you can make bookings online here on the our website.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseTwo_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>Can I pay with my credit card?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>You can make payment with your card while booking on our website.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseThree_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>How do I make a confirmed reservation?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>You can make a confirmed reservation by booking on our website and making payment.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseFour_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>What’s included in your accommodation?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFour_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>Access to the entire facilty; restaurant, bar, swimming pool and game house. </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseFive_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>Can I cook while staying at the resort?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFive_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>
                                    No, we have an in-house restaurant to cater to your meals throughout your stay.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseSix_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>Do you offer free parking spaces?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseSix_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>
                                    You can only get to the resort by boat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseSeven_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>Is the resort pet-friendly?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseSeven_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>
                                    No, pets are not allowed at the resort.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseEight_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>What’s the check-in & check-out time?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseEight_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>
                                    The check-in time is 12 noon. and check-out time is 10am.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseNine_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>Do you offer boat services to guests for their arrival and departure?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseNine_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>
                                    No, but we can refer you to boat companies. To more info contact us <a href="contacts.html"> >> Here </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseTen_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>What If I don’t show up after making a confirmed reservation?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTen_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>
                                    You can book another available date that is convenient for you by contacting us with your details and previous payment evidence. <a href="https://api.whatsapp.com/send/?phone=2349169999011&text&type=phone_number&app_absent=0"> ->> Contact Us </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseEleven_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>Do you have a swimming pool at the resort?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseEleven_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>
                                    We have a 28-metre swimming pool at the resort.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseTwelve_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>Do you have free Wi-Fi?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwelve_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>
                                    Yes, we have free Wi-Fi at the resort.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseThirteen_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>What amenities do you have at the resort?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThirteen_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>
                                    <ul>
                                        <li>Free Wi-Fi</li>
                                        <li>24-hour guest reception Room service</li>
                                        <li>28 meters swimming pool</li>
                                        <li>3 bars with HD screens</li>
                                        <li>A game house with a variety of board games</li>
                                        <li>Cigar Room</li>
                                        <li>Kids’ play area</li>
                                        <li>Kids’ game room equipped with kid-friendly toys</li>
                                        <li>Massage (available on pre-order)</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapseFourteen_product" aria-expanded="false">
                                    <i class="indicator bi-plus-lg"></i>Do you have photographers on standby if guests want to take pictures?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFourteen_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                            <div class="card-body">
                                <p>
                                    Only available on pre-request.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                </div>
                <!-- /accordion -->
            </div>



        </div>
        <!-- /Row -->
    </div>
    <!-- /container -->

</main>



{% endblock content %}