{% extends 'core/base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<main>
    <div class="hero small-height jarallax" data-jarallax data-speed="0.2">
        <img class="jarallax-img" src="{% static 'img/terms.png' %}" alt="">
        <div class="wrapper opacity-mask d-flex align-items-center justify-content-center text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <div class="container">
                <small class="slide-animated one">Belleza Beach Resort</small>
                <h1 class="slide-animated two">Privacy Policy</h1>
            </div>
        </div>
    </div>
    <!-- /Background Img Parallax -->
      <section id="terms">
          <div class="container margin_120_95">
              <div class="row justify-content-between align-items-center">
                  <div class="col-lg-12">
                      <div class="intro">
                          <div class="title">
                          <small>Belleza Beach Resort</small>
                          <h2>PRIVACY POLICY</h2>
                          </div>
                          <p>
                              Belleza Beach Resort referred to as (“us”, “we”, or “our”), runs the www.bellezabeachresort.com website (the “Service”). This Privacy Policy page contains information on our policies for collecting, using, and disclosing your Personal Data when you use our Service. By using our Service, you agree to the terms of the policy.
                              We do not sell or disclose your Personal Data for monetary or business purposes to third parties.
                          </p>
                          <br>
                          <h4>DEFINITION OF TERMS</h4>
                          <p>
                              <ul>
                                  <li>Personal Data refers to data about a living person — such a person can be identified from the data.</li>
                                  <li>Usage Data is the data we collect automatically when you use our Service or engage with content on the Service page.</li>
                                  <li>Cookies are pieces of data stored on a User’s device.</li>
                              </ul>
                          </p>
                          <br>
                          <h4>DATA COLLECTION</h4>
                          <p>
                              When you use our Service, we may collect the following data from you.
                              <ul>
                                  <li>First name and last name</li>
                                  <li>Email Address</li>
                                  <li>Phone Number</li>
                                  <li>Address</li>
                                  <li>Engagement</li>
                              </ul>
                              We may use your Personal Data to communicate with you, especially for sending you newsletters, promotional materials, and other information that may interest you. You have the liberty to opt-out of all communications by clicking the unsubscribe button.
                          </p>
                          <br>
                          <h4>USAGE DATA</h4>
                          <p>
                              We may ask you for information on how you access and use our Service. This information may contain your computer’s Internet Protocol address (e.g. IP address), browser version, browser type, the time and date of your visit to the Service page, etc.
                          </p>
                          <br>
                          <h4>TRACKING COOKIES DATA</h4>
                          <p>
                              We implement cookies to track activities on our Service. You may choose to refuse all cookies. However, if you do not accept cookies, you may not be able to access some areas of our Service.
                          </p>
                          <br>
                          <h4>USE OF DATA</h4>
                          <p>
                              We may use the data we collect for the following purposes.
                              <ul>
                                  <li>Provide our Service</li>
                                  <li>Inform you about any changes we make to our Service</li>
                                  <li>Offer customer support</li>
                                  <li>Improve our Service </li>
                                  <li>Track engagement with our Service</li>
                                  <li>Identify and fix technical issues</li>
                                  <li>Send you information about our Service</li>
                              </ul>
                          </p>
                          <br>
                          <h4>RETENTION OF DATA</h4>
                          <p>
                              We may retain your Personal Data for as long as is necessary and use it for the outlined purposes in line with regulatory standards.
                          </p>
                          <br>
                          <h4>TRANSFER OF DATA</h4>
                          <p>
                              We may transfer and store your Personal Data on devices outside your location where the data protection laws may differ from what is obtainable in your location. Nonetheless, we will take the necessary measures to ensure that the use of your Personal Data must be under regulatory standards.
                          </p>
                          <br>
                          <h4>DISCLOSURE OF DATA</h4>
                          <p>
                              Disclosure for Law Enforcement: We are obligated by law to disclose your Personal Data to public authorities such as government agencies if the need arises.
                          </p>
                          <br>
                          <h4>LEGAL REQUIREMENTS</h4>
                          <p>
                              Our obligation to disclose your Personal Data to public authorities will be done under the following circumstances.
                              <ul>
                                  <li>Protection of the rights or property of Belleza Beach Resort. </li>
                                  <li>Prevention and investigation of suspected wrongdoing related to our Service</li>
                                  <li>Protection of the users of our Service and the public </li>
                                  <li>Prevention of legal liability</li>
                              </ul>
                          </p>
                          <br>
                          <h4>SECURITY OF DATA</h4>
                          <p>
                              While we commit to securing your data, transmitting data over the internet isn’t 100% secure. Hence, we cannot guarantee the total security of your data.
                          </p>
                          <br>
                          <h4>YOUR RIGHTS</h4>
                          <p>
                              You have a right to request an amendment, correction, or deletion of your Personal Data and how we use your Personal Data.
                          </p>
                          <br>
                          <h4>CHILDREN'S PRIVACY</h4>
                          <p>
                              The information on this page does not address persons under the age of 13 (“Children”). Hence, we do not knowingly collect the personal information of individuals under the age of 13. As a parent or guardian, if you discover that your child or ward under the age of 13 has given us their Personal Data, please let us know.
                          </p>
                          <br>
                          <h4>CHANGES TO THIS PRIVACY POLICY</h4>
                          <p>
                              We may update our Privacy Policy periodically. If we make any changes, we will post them on this page, and such changes will take effect once they are posted.
                          </p>


                      </div>
                  </div>
              </div>
              <!-- /Row -->
          </div>
      </section>
    <!-- /container -->
  </main>


{% endblock content %}