ai-django-core==7.0.2
aiohttp==3.9.1
aiohttp-retry==2.8.3
aiosignal==1.3.1
ambient-toolbox==9.4.0
amqp==5.2.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
billiard==4.2.0
black==23.12.1
bleach==5.0.1
boto3==1.34.14
botocore==1.34.14
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cron_descriptor==1.4.0
cryptography==41.0.7
defusedxml==0.7.1
diff-match-patch==20230430
Django==4.2.7
django-allauth==0.60.0
django-celery-beat==2.5.0
django-cors-headers==4.3.1
django-countries==7.5.1
django-debug-toolbar==4.2.0
django-decouple==2.1
django-import-export==3.3.5
django-mathfilters==1.0.0
django-storages==1.14.2
django-timezone-field==6.1.0
djangorestframework==3.14.0
et-xmlfile==1.1.0
frozenlist==1.4.1
gunicorn==21.2.0
html2text==2020.1.16
idna==3.6
jmespath==1.0.1
kombu==5.3.4
MarkupPy==1.14
multidict==6.0.4
mypy-extensions==1.0.0
oauthlib==3.2.2
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.1.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
pycparser==2.21
PyJWT==2.8.0
python-crontab==3.0.0
python-dateutil==2.8.2
python-decouple==3.8
python3-openid==3.2.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
s3transfer==0.10.0
six==1.16.0
sqlparse==0.4.4
tablib==3.5.0
tomli==2.0.1
twilio==8.11.0
typing_extensions==4.8.0
tzdata==2023.4
urllib3==1.26.18
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
xlrd==2.0.1
xlwt==1.3.0
yarl==1.9.4
